@import 'uswds/dist/css/uswds.min.css';
// use these
// See all overwriteable variables in src/pell.scss
$pell-content-height: 300px;

@import '../../node_modules/pell/src/pell';
@import '../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome';
@import '../../node_modules/@fortawesome/fontawesome-free/scss/regular';

$primary-color: #333;
$faded-color: #ccc;
$bad-color:rgb(216, 57, 51);
$bad-color-dark:#d8393399;
$good-color:#005ea2;
$good-color-dark:rgb(0, 94, 162, .8);

body {
  color: $primary-color;
}

#main-content {
  padding-top: 30px
}
#overlay {
  background-color: rgba(240,240,240,.9);
}
.wrong-count {
  color: $bad-color;
}
.right-count {
  color: $good-color;
}
.card-editor{
  margin: 0
}
.deck-card-outline {
  background-color: #fff;
  border: 1px solid #ddd;
  margin-bottom: 1rem;
  margin-top: 1rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
  border-radius: .25rem;
  color: #2e2e2e;
  width:80%;
  height:150px;
}
.spacing {
  margin-top: 170px;
}
.remove-button {
  width: 20px;
  height: 20px;
  font-size: 14px;
  position: absolute;
  top:20px;
  left: 73%;
  color: $bad-color
  //color: red
}
.public-deck-marker {
  font-size: 16px;
  position: absolute;
  top:25px;
  left: 62%;
  color: $primary-color
}
.study-button {
  font-size: 14px;
}
.deck-selection:hover{
  color:#2e2e2e;
  background:#fafafa;
  border: #ddd 1px solid;
}
@media (max-width: 750px) {
  .remove-button {
    left: 71%
  }
  .public-deck-marker {
    left: 60%
  }
}
@media (max-width: 550px) {
  .remove-button {
    left: 67%
  }
  .public-deck-marker {
    left: 56%
  }
}
//Mobile view!
@media (max-width: 480px) {
  .remove-button {
    left: 73%;
  }
  .public-deck-marker {
    left: 63%;
  }
}
.remove-button:hover{
  color: $bad-color
}
//.card-editor {
//  margin-top: 30px;
//}
.popup {
  position: absolute;

}
#popup-image{
  height:400px;
  width:auto;
}
.card-viewer-outline {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  border-radius: 2px;
}
.has-image-editor {
  // TODO:: Make this less brittle
  height:133px;
}
.image-spot-with-image {
  height:200px;
  background-size:cover;
  background-position:center center;
  background-repeat:no-repeat;
  width:100%;
  border: none;
}
.image-spot-without-image {
  height: 0;
  opacity: 0;
}
.pell-content {
  hyphens: auto;
}
.card-editor-with-image {
  .pell-content {
    height:99px;
  }
}
.image-upload-input {
  opacity: 0;
  position:absolute;
  width: 76px;
}
 input:focus + label.image-upload-label{
  outline: .25rem solid #2491ff;
  outline-offset: 8px;
}

.label-pill {
  position: relative;
  left: -50%;
  padding: 4px;
  border-radius: 4px;
  font-size:12px;
  margin-top: 4px;
  color: white;
  background-color: #d83933;
}
.flip-card {
  padding: 12px 40px;
  height: 41px;
}
.pell {
  border: none;
}
.previewCard {
  max-width: 120px;
  margin-bottom: 10px;
}

.activePreviewCard {
  left: -10px;
  position: relative;
}

.size-1 {
  .pell-content {
    font-size: 45px!important;
  }
}

.size-2 {
  .pell-content {
    font-size: 35px!important;
  }

}

.size-3 {
  .pell-content {
    font-size: 30px!important;
  }

}

.size-4 {
  .pell-content {
    font-size: 25px!important;
  }

}

.size-5 {
  .pell-content {
    font-size: 20px!important;
  }
}

.darkmode body, .darkmode html {
  background-color: black;
}

.negative-button-no-outline {
  color:#d83933;
}
.negative-button-no-outline:hover {
  color:#d83933;
}
.disabled-button-no-outline {
  color:#666;
}
.disabled-button-no-outline:hover {
  color:#666;
}
.hotkey-indicator {
  font-size: 14px;
  color: #ccc;
  position: absolute;
  width: 100%;
  text-align: center;
  top: 10px;
}
.study-card-no-image {
  height: 300px;
}
.study-card-with-image {
  height: 100px;
}
.disabled-button-no-outline {
  color:#666;
}
.prev-next {
  //font-size:12px;
  //width: 100px;
  margin: 0;
  margin-top: 10px;
  padding:0;
  font-size: 44px;
  box-shadow: none;
}
.prev-next:hover {
  box-shadow: none;
}
.darkmode-checkbox-container {
  background:white;
}
aside .usa-sidenav {
  border: 2px solid rgba(0,0,0,.1);
  background: white;
}
.fancy-line {
  border-top: 1px solid #d5d8df;
}
.study-side-nav {
  opacity: 0.8;
}
.darkmode {
  color: #555;
  .study-side-nav {
    opacity: 0.5;
  }
  .card-viewer-outline {
    border: 1px solid rgb(80, 80, 80);

  }
  .pell-content {
    padding: 8px;
  }
  .fancy-line {
    border-top: 1px solid #555;
  }
  .darkmode-checkbox-container {
    background: black;
  }
  #overlay {
    background-color: rgba(0,0,0,.8);
  }
  aside .usa-sidenav {
    border: 2px solid rgba(255,255,255,.2);
    background: black;
  }
  .continue-studying {
    background-color: transparent;
    border: 2px solid $good-color-dark;
    color: #777;
  }
  .usa-checkbox__input+.usa-checkbox__label:before, .usa-checkbox__input:checked:disabled+.usa-checkbox__label:before {
    opacity: .6;
  }
  .usa-checkbox__input+.usa-checkbox__label:before, .usa-radio__input:checked+.usa-radio__label:before {
    background-color: transparent;
  }
  .usa-input  {
    background-color: black;
    color: #555;
  }
  .deck-card-outline {
    background-color: black;
    color: #555555;
    border-color: #555555;
  }
  .usa-button--unstyled {
    color: $good-color-dark;
  }
  .usa-button--outline {
    box-shadow: inset 0 0 0 2px $good-color-dark;
    color: $good-color-dark;
  }
  .pell-actionbar {
    background-color: black;
    border-bottom: 1px solid rgb(80, 80, 80);
  }
  .negative-button-no-outline {
    color:$bad-color-dark;
  }
  .affermative-button-no-outline {
    color: $good-color-dark;
  }
  .disabled-button-no-outline {
    color:#444;
  }
  .flip-card {
    background-color: transparent;
    border: 2px solid $good-color-dark;
    color: #777;
  }
  .label-pill {
    border: 2px solid $bad-color-dark;
    color: #555;
    background-color: transparent;
    padding: 2px;
  }
  .usa-nav {
    border-top: 1px solid rgb(80, 80, 80);
  }
  .usa-logo a {
    color: #555
  }
  .site-sidenav{
    border-color: #555;
  }
  .usa-sidenav__item {
    border-color: #555;
  }
  .usa-sidenav {
    border-color: #555;
  }
  .usa-sidenav__item a:hover{
    background-color: #161616;
    color: $good-color-dark;
  }
  .hotkey-indicator {
    color:#333;
  }
  .disabled-button-no-outline:hover {
    color:#444;
  }
  .wrong-count {
    color: $bad-color-dark;
  }
  .right-count {
    color: $good-color-dark;
  }
  .prev-next {
    box-shadow: none;
    color: #555
  }
}
