@import "uswds/dist/css/uswds.min.css";
// use these
@import "https://use.fontawesome.com/releases/v5.8.1/css/fontawesome.css";
@import "https://use.fontawesome.com/releases/v5.8.1/css/regular.css";
$pell-content-height: 300px;
// See all overwriteable variables in src/pell.scss

@import '../../node_modules/pell/src/pell';

$primary-color: #333;

body {
  //font: 100% $font-stack;
  color: $primary-color;
}

#main-content {
  padding-top: 30px
}

.deck-card-outline {
  background-color: #fff;
  border: 1px solid #2e2e2e;
  margin-bottom: 1rem;
  margin-top: 1rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
  border-radius: .25rem;
  color: #2e2e2e;
  width:250px;
  height:150px;
}
