@import "uswds/dist/css/uswds.min.css";
// use these
@import "https://use.fontawesome.com/releases/v5.8.1/css/all.css";
$pell-content-height: 300px;
// See all overwriteable variables in src/pell.scss

@import '../../node_modules/pell/src/pell';

$primary-color: #333;

body {
  //font: 100% $font-stack;
  color: $primary-color;
}

#main-content {
  padding-top: 30px
}

.deck-card-outline {
  background-color: #fff;
  border: 1px solid #ddd;
  margin-bottom: 1rem;
  margin-top: 1rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
  border-radius: .25rem;
  color: #2e2e2e;
  width:80%;
  height:100px;
}
.spacing {
  margin-top: 150px;
}
.remove-button {
  width: 20px;
  height: 20px;
  font-size: 14px;
  position: absolute;
  top:20px;
  left: 73%;
  color: rgb(216, 57, 51);
  //color: red
}
@media (max-width: 750px) {
  .remove-button {
    left: 71%
  }
}
@media (max-width: 550px) {
  .remove-button {
    left: 67%
  }
}
//Mobile view!
@media (max-width: 480px) {
  .remove-button {
    left: 73%;
  }
}
.remove-button:hover{
  color: rgb(216, 57, 51);
}

.deck-selection:hover{
  color:#2e2e2e;
  background:#fafafa;
  border: #ddd 1px solid;
}
